body{
    font-family: "Comic Sans MS", sans-serif;
}
.red{
    color:red;
}
.blue{
    color:blue;
}
.violet{
    color:violet;
}
.bold{
    font-weight:bold;
}
.canvas{
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);        
}
.center {
margin-left: auto;
margin-right: auto;
display: block
}    